<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head th:replace="header :: copy"></head>

<body>
	<h1>Home Page</h1>
	
	<div th:switch="${session.loggedInUser}"> 
  		<p th:case="null">Please log in to use this application</p>
  		<h5>
  			<span th:case="*">
  				<span>Bok</span>
  				<span th:text="${session.loggedInUser.username}"></span>
  				<span> !!!! Dobrodošli na dogWalkersApp</span>
  			</span> 
  		</h5>
	</div>
	
	<div th:replace="footer :: copy"></div>
</body>
</html>
